.App {
  text-align: center;
}

.container {
  border: 3px solid darkturquoise;
  border-radius: 5px;
  width: 260px;
  height: 215px;
  margin: 200px auto 0 auto;
}

.buttonContainer {
  margin: 10px auto;
  width: 220px;
  height: 70px;
  border: 3px solid darkturquoise;
  border-radius: 5px;
}